<ng-include src="'js/nav/navbar.html'"></ng-include>

<div class="container">

    <h1>Pending Tasks</h1>

    <section>
        <form name="newTask" ng-submit="tasks.addTask(taskData)">

            <div class="form-group col-xs-10">
                <label class="sr-only" for="taskDescription">Description</label>
                <input type="text"
                    class="form-control"
                    ng-model="taskData.description"
                    placeholder="Enter a description"/>
            </div>

            <input type="submit"
                class="btn btn-default"
                value="Add Task"/>

        </form>
    </section>

    <br/>

    <section>
        <table class="task-list table table-responsive">

            <thead class="thead-inverse">
                <tr>
                    <th class="col-xs-10">Description</th><th>Complete?</th>
                </tr>
            </thead>

            <tr class="task-item" ng-repeat="item in tasks.items" ng-hide="item.completed">
                <td>{{ item.description }}</td>
                <td><input type="checkbox"
                    ng-model="item.completed"
                    ng-change="tasks.toggleComplete(item)"
                    ng-true-value="1"
                    ng-false-value="0"/>
                </td>
            </tr>
        </table>
    </section>

</div>
